<ion-header>
  <ion-toolbar>
    <ion-title>programma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="set-grid">
  <ion-row>
    <ion-col class="col-center">
      <h1>Programma ordinamento numerico</h1>
    </ion-col>
  </ion-row>

  <ion-row class="item"> 
<ion-col>
  <ion-item> 
  <label>
    <ion-input>
      Input Array
    </ion-input>
  </label>
</ion-item>
  </ion-col>
</ion-row>

<ion-row class="item"> 
  <ion-col class="col-center">
    <ion-item> 
    <label>
      <ion-input>
        Output 
      </ion-input>
    </label>
  </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
